h1 {
    font-size: 65px;
    color: darkgray;
}

.scroll {
    overflow: scroll;
    max-height: 50vh;
}

#nextCon {
    height: 120px;
}

#helperCon {
    min-height: 100px;
}

#bottomCon {
    min-height: 90px;
}

body {
    height: 100%;
}
